$color-main-accent: #cddc39;
$color-main-accent-trasparent: #ccdc3956;

$color-background: #010101;
$color-secondary-background: #27292d;
$color-action-item: #383b40;
$color-font: #c2c2c2;
$color-icons: #b3b4b5;

$color-standard: #eae4e4;
